/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    // always use relative paths in angular
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/images/background.jpeg');
    background-size: cover;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

    
